<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>山</title>
    <link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  </head>
<body><!--このbody要素の中に書きます-->

  <div id="top_navi"><div class="area">
<div id="navi">
    <div class="bt"><a href="index.html"><img src="images/navi/navi_top.png" alt="トップ" class="bt_text"></a></div>
    <div class="bt"><a href="story.html"><img src="images/navi/navi_story.png" alt="物語" class="bt_text"></a></div>
    <div class="bt"><a href="character.html"><img src="images/navi/navi_character.png" alt="キャラクター" class="bt_text"></a></div>
    <div class="bt"><a href="special.html"><img src="images/navi/navi_special.png" alt="スペシャル" class="bt_text"></a></div>
    <div class="bt"><a href="product.html"><img src="images/navi/navi_product.png" alt="製品情報" class="bt_text"></a></div>
    <div class="navi_sns">
          <div class="twitter"><a href="http://twitter.com/share?text=PS4/PS Vita「花咲ワークスプリング！」公式サイト &url=http://www.entergram.co.jp/hanasaki/&hashtags=エンターグラム,花咲ワークスプリング" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><img src="/assets/header/tw_bt.png" alt="ツイートする"></a></div>
          <div class="facebook"><a href="http://www.facebook.com/share.php?u=http://www.entergram.co.jp/hanasaki/" onClick="window.open(encodeURI(decodeURI(this.href)), 'facebookwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><img src="/assets/header/fb_bt.png" alt="facebookでシェア"></a></div>
          <div class="line"><a href="https://lineit.line.me/share/ui?url=http://www.entergram.co.jp/hanasaki/" onclick="window.open(this.href,'TWwindow','width=503,height=510,menubar=no,toolbar=no,scrollbars=yes');return false;" target="_blank" class="share_line"><img src="/assets/header/line_bt.png" alt="LINEで送る"></a></div>
    </div>
</div>
</div></div>

       
        
  <div id="character" class="content">

    <div class="character_area">
      <div class="serif_1"><img src="/assets/character/serif_1.png"></div>
      <div class="chara_1 "><img src="/assets/character/chara_1.jpg"></div>
      <div class="catch_1"><img src="/assets/character/catch_1.png"></div>
      <div class="name_1"><img src="/assets/character/name_1.png"></div>
      <div class="cv_1"><img src="/assets/character/cv_1.png"></div>
      <div class="voice_1_1"><img src="/assets/character/voice_1.png"></div>
      <div class="voice_1_2"><img src="/assets/character/voice_1.png"></div>
      <div class="voice_1_3"><img src="/assets/character/voice_1.png"></div>
      <div class="voice_1_4"><img src="/assets/character/voice_1.png"></div>
      
    <div class="selfproduce_1">
     主人公と同じクラスの女の子。
     <br>
     運動神経抜群、凛とした姿勢や態度、
     <br>
     誰にでも分け隔てなく接する人当たりの良さで
     <br>
     クラスのみならず学年から好かれている。
     <br>
     にもかかわらず入っている部活は数学部と
     <br>
     意外にも素性は謎に包まれている。
     <br>
     好きな数学の分野は微分積分。
    </div>

    <div class="sd_1_1"><a href="character.html"><img src="/assets/character/sd_1.png"></a></div>
    <div class="sd_1_2"><a href="character_2.html"><img src="/assets/character/sd_2.png"></a></div>
    <div class="sd_1_3"><a href="character_3.html"><img src="/assets/character/sd_3.png"></a></div>
    
    </div>

	
  

      
      
  
  </div>

  
      
  
     

  </body>
</html>