<!DOCTYPE html>
<html lang="ja">
<head>

</head>

<body>
 
    <div id="top_navi"><div class="area">
        <div id="navi">
            <div class="bt"><a href="index.html"><img src="images/navi/navi_top.png" alt="トップ" class="bt_text"></a></div>
            <div class="bt"><a href="story.html"><img src="images/navi/navi_story.png" alt="物語" class="bt_text"></a></div>
            <div class="bt"><a href="character.html"><img src="images/navi/navi_character.png" alt="キャラクター" class="bt_text"></a></div>
            <div class="bt"><a href="special.html"><img src="images/navi/navi_special.png" alt="スペシャル" class="bt_text"></a></div>
            <div class="bt"><a href="../reviews/index.html"><img src="images/navi/navi_product.png" alt="製品情報" class="bt_text"></a></div>
            <div class="navi_sns">
                  <div class="twitter"><a href="http://twitter.com/share?text=PS4/PS Vita「花咲ワークスプリング！」公式サイト &url=http://www.entergram.co.jp/hanasaki/&hashtags=エンターグラム,花咲ワークスプリング" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><img src="/assets/header/tw_bt.png" alt="ツイートする"></a></div>
                  <div class="facebook"><a href="http://www.facebook.com/share.php?u=http://www.entergram.co.jp/hanasaki/" onClick="window.open(encodeURI(decodeURI(this.href)), 'facebookwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><img src="/assets/header/fb_bt.png" alt="facebookでシェア"></a></div>
                  <div class="line"><a href="https://lineit.line.me/share/ui?url=http://www.entergram.co.jp/hanasaki/" onclick="window.open(this.href,'TWwindow','width=503,height=510,menubar=no,toolbar=no,scrollbars=yes');return false;" target="_blank" class="share_line"><img src="/assets/header/line_bt.png" alt="LINEで送る"></a></div>
            </div>
		</div>
    </div></div>
      
    <div id="top_content" class="content">     
        
        <div class="top_content_area">




<div class=twitter_a>
          <a class="twitter-timeline" data-width="300" data-height="600" data-theme="light" href="https://twitter.com/geek_salon?ref_src=twsrc%5Etfw">Tweets by geek_salon</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>    
          </div>

            
            
            
           
        
        </div>
    
    </div></div>




 <div class="footer_navi">
	<div class="area">    
            <div id="navi">
                <div class="bt"><a href="index.html"><img src="images/navi/footer_navi_top.png" alt="トップ" class="bt_text"></a></div>
                <div class="bt"><a href="story.html"><img src="images/navi/footer_navi_story.png" alt="物語" class="bt_text"></a></div>
                <div class="bt"><a href="character.html"><img src="images/navi/footer_navi_character.png" alt="キャラクター" class="bt_text"></a></div>
                <div class="bt"><a href="special.html"><img src="images/navi/footer_navi_special.png" alt="スペシャル" class="bt_text"></a></div>
                <div class="bt"><a href="product.html"><img src="images/navi/footer_navi_product.png" alt="製品情報" class="bt_text"></a></div>
                <div class="navi_sns">
                      <div class="twitter"><a href="http://twitter.com/share?text=PS4/PS Vita「花咲ワークスプリング！」公式サイト &url=http://www.entergram.co.jp/hanasaki/&hashtags=エンターグラム,花咲ワークスプリング" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><img src="/assets/header/tw_bt.png" alt="ツイートする"></a></div>
                      <div class="facebook"><a href="http://www.facebook.com/share.php?u=http://www.entergram.co.jp/hanasaki/" onClick="window.open(encodeURI(decodeURI(this.href)), 'facebookwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><img src="/assets/header/fb_bt.png" alt="facebookでシェア"></a></div>
                      <div class="line"><a href="https://lineit.line.me/share/ui?url=http://www.entergram.co.jp/hanasaki/" onclick="window.open(this.href,'TWwindow','width=503,height=510,menubar=no,toolbar=no,scrollbars=yes');return false;" target="_blank" class="share_line"><img src="/assets/header/line_bt.png" alt="LINEで送る"></a></div>
            </div>
	</div>
 </div>
<!--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■-->
<footer><div class="area">  
    <div class="footer_text">
        <p>
            素材・情報等は全て開発中の物であり、予告なく変更される場合がございます。当ページに掲載されている素材の転載を禁止します.
        </p>
    </div>

    <div class="copylight">
        <p>&copy;KAWASOFTS</p>   
    </div>

</div></footer>

</body>
</html>