
<h1 style="text-align:center;color:#d36015;">複数ファイルに対応した音声ボタンのデモ</h1>
<p>複数種類の音声ファイルに対応した、拡張性のある音声ボタンのプログラムです。音声ファイルを何個増やしても、ブラウザへの負担や転送量を抑えます。</p>

<HR style="margin: 3em 0 ;">

<h2>音声再生</h2>
	<p>私の美声()を聞きたい人は、各ボタンを押してみて下さい。音声ファイルとエレメントは、再生する時点で動的に生成されます。</p>

	<p><a href="#aaa" class="sounds" data-file="greeting-01">おはよう</a></p>
	<p><a href="#aaa" class="sounds" data-file="greeting-02">こんにちは</a></p>
	<p><a href="#aaa" class="sounds" data-file="greeting-03">こんばんは</a></p>

<h2>音声停止</h2>
	<p>途中で音声ファイルの再生を停止します。</p>

	<p><a href="#" id="stop-button-syncer" class="stop-button">音声を停止する</a></p>


<HR style="margin: 3em 0 ;">



<p style="text-align:center"><a href="https://syncer.jp/html5-javascript-hello-button">配布元: Syncer</a></p>






