<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

</head>


<body>

<div id="top_navi"><div class="area">
<div id="navi">
    <div class="bt"><a href="index.html"><img src="images/navi/navi_top.png" alt="トップ" class="bt_text"></a></div>
    <div class="bt"><a href="story.html"><img src="images/navi/navi_story.png" alt="物語" class="bt_text"></a></div>
    <div class="bt"><a href="character.html"><img src="images/navi/navi_character.png" alt="キャラクター" class="bt_text"></a></div>
    <div class="bt"><a href="special.html"><img src="images/navi/navi_special.png" alt="スペシャル" class="bt_text"></a></div>
    <div class="bt"><a href="product.html"><img src="images/navi/navi_product.png" alt="製品情報" class="bt_text"></a></div>
    <div class="navi_sns">
          <div class="twitter"><a href="http://twitter.com/share?text=PS4/PS Vita「花咲ワークスプリング！」公式サイト &url=http://www.entergram.co.jp/hanasaki/&hashtags=エンターグラム,花咲ワークスプリング" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><img src="/assets/header/tw_bt.png" alt="ツイートする"></a></div>
          <div class="facebook"><a href="http://www.facebook.com/share.php?u=http://www.entergram.co.jp/hanasaki/" onClick="window.open(encodeURI(decodeURI(this.href)), 'facebookwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><img src="/assets/header/fb_bt.png" alt="facebookでシェア"></a></div>
          <div class="line"><a href="https://lineit.line.me/share/ui?url=http://www.entergram.co.jp/hanasaki/" onclick="window.open(this.href,'TWwindow','width=503,height=510,menubar=no,toolbar=no,scrollbars=yes');return false;" target="_blank" class="share_line"><img src="/assets/header/line_bt.png" alt="LINEで送る"></a></div>
    </div>
</div>
</div></div>

<div id="story" class="content">
 

    <div class="story_area">

    <div class="story_header "><img src="/assets/story/story_header.png"></div>
    <div class="story_text_1 "><img src="/assets/story/story_text_1.png"></div>
    <div class="story_text_2 "><img src="/assets/story/story_text_2.png"></div>
    <div class="story_text_3 "><img src="/assets/story/story_text_3.png"></div>
    <div class="story_text_4 animate__animated animate__pulse animate__infinite"><img src="/assets/story/story_text_4.png"></div>
    <div class="story_text_5"><img src="/assets/story/story_text_5.png"></div>
    <div class="story_text_6 "><img src="/assets/story/story_text_6.png"></div>
    <div class="hukidasi_1 animate__animated animate__heartBeat animate__infinite"><img src="/assets/story/hukidasi_1.png"></div>
    <div class="story_text_7"><img src="/assets/story/story_text_7.png"></div>
    <div class="hukidasi_2 animate__animated animate__headShake animate__infinite" data-animate="fadeInUp"><img src="/assets/story/hukidasi_2.png"></div>
    <div class="story_text_8 "><img src="/assets/story/story_text_8.png"></div>
    <div class="hukidasi_3 animate__animated animate__bounce animate__infinite"><img src="/assets/story/hukidasi_3.png"></div>
    <div class="story_text_9 "><img src="/assets/story/story_text_9.png"></div>
    <div class="story_text_10 "><img src="/assets/story/story_text_10.png"></div>
    <div class="story_text_11 "><img src="/assets/story/story_text_11.png"></div>
    <div class="story_text_12 "><img src="/assets/story/story_text_12.png"></div>

    </div>

</div>

</body>
</html>